<div class="search-container">
    <h1 class="search-title">游댌 쮐걤햨 햨햫햦햡</h1>


    <div class="search-actions">
        <button class="btn-search">
            <a href="/books">뤰햦혜혝햦혝햦</a>
        </button>
    </div>

    <div class="search-forms">
        <div class="search-card">
            <h2>쮐걤햨 향햟 햟쒬쮐쮏</h2>
            <form action="/books/search" method="GET" class="search-form">
                <div class="form-group">
                    <label for="author">뉋쒫왏얨뒘혧 혰햪'혪 햟쒬쮐햟</label>
                    <input id="author" name="author" type="text" placeholder="햏햟햦햨햩햟햢: 햆햤. 햌. 먫쮐햩혰햫햡" required>
                </div>
                <button type="submit" class="btn-search">
                    游댍 행햫햟햧혝햦 햟쒬쮐햟
                </button>
            </form>
        </div>

        <div class="search-card">
            <h2>햓혰햩혧혝 향햟 쮏쥃쮏 쒫쟳얧썛쫧쫨</h2>
            <form action="/books/filter" method="GET" class="search-form">
                <div class="form-group">
                    <label for="filter">뤯쐃왐혰혝혧 혰햨 쒫쟳얧썛쫧쫨</label>
                    <select id="filter" name="publication" required>
                        <option value="">-- 뤯쐃왐혰혝혧 혰햨 --</option>
                        <option value="1990">1990-혝혰</option>
                        <option value="2000">2000-햫혰</option>
                        <option value="2010">2010-혝혰</option>
                        <option value="2020">2020-혝혰</option>
                    </select>
                </div>
                <button type="submit" class="btn-search">
                    游닄 행햫햟햧혝햦 향햟 쮏쥃쮏
                </button>
            </form>
        </div>
    </div>

</div>