<!DOCTYPE html>
<html>

  <head>
    <title>
      <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1>Вітаю на нашому сайті!</h1>
    <h2>
      <%= title %>
    </h2>

    <% if (taskImg) { %>
      <%- taskImg %>
        <% } %>
          <hr>
          <a href="/time">Натисніть щоб дізнатися поточний час для</a>
          <br>
          <a href="/day">Натисніть щоб дізнатися сьогоднішню дату</a>
          <br>
          <a href="/season">Натисніть щоб дізнатися пору року</a>
          <br>
  </body>

</html>