<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <a href="/">
                <span class="logo__icon">🛍️</span>
                <span class="logo__text">Shop</span>
            </a>
        </div>
        <nav class="header__nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="/product/list">
                        <span class="nav__icon">📦</span>
                        <span>Products</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/product">
                        <span class="nav__icon">➕</span>
                        <span>Add Product</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a class="nav__link nav__link--login" href="/users/login">
                        <span class="nav__icon">👤</span>
                        <span>Login</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>

