<!DOCTYPE html>
<html>

  <head>
    <title>
      home
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>

    <main>
    <%-include( 'components/header') %>

      <div class="wrapper">
            <h1 class="welcome__title">Вітаю на нашому сайті!</h1>
      </div>
    </main>
  </body>


</html>