<nav>
    <ul>
        <li>
            <a href='/' class="<%= activePage==='home'?'active':'' %>">Головна</a>
        </li>
        <li>
            <a href='/cars' class="<%= activePage==='cars'?'active':'' %>">Автомобілі</a>
        </li>
        <li>
            <a href='/about'>Про нас</a>
        </li>
        <% if (user?.permission?.isAdmin) { %>
            <li>
                <a href='/user/admin'>Адмін</a>
            </li>
            <% } %>

                <% if (!user) { %>
                    <li>
                        <a href='/user' class="<%= activePage==='login'?'active':'' %>">Увійти</a>
                    </li>
                    <% } else { %>
                        <li>
                            <a href='/auth/logout'>Вихід (<%= user.name %>)</a>
                        </li>

                        <%} %>
    </ul>
</nav>

</script>