<!DOCTYPE html>
<html>

  <head>
    <title>
      <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <br>
  <h1>
    <%=welcomeText %>
  </h1>
  <p>
    <%= task %>
  </p>
  <hr>
  <a href="/music">Перейдіть щоб дізнатися про улюблену музику</a></br>
  <a href="/coffee">Перейдіть щоб дізнатися про улюблену кавярню</a>
  </body>

</html>